[2018-09-18 11:36] greut opened #1 "write tests"
the cli has close to none... sadly.

[2018-09-18 11:53] greut opened #2 "autocompletion setup"
fix and documentation the auto completion build, installation and usage.

[2018-10-06 15:55] ajacoutot opened #7 "exoscale.toml default mode is too open"
Hi.

After running `exo config` the file and dir are readable by anyone.
Considering that it contains secrets, that's not ideal ;-)

[code]

[2018-10-10 16:26] pierre-emmanuelJ opened #11 "Wrong request signature on preprod"
[code]

[2018-10-11 06:00] greut commented on #11
Did you try with #8?

[2018-10-11 07:52] #11 closed

[2018-10-11 08:41] pierre-emmanuelJ opened #12 "exo add doc.go"
<a href="https://github.com/greut"><img src="https://avatars2.githubusercontent.com/u/1388?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [greut](https://github.com/greut)**
_Wednesday Jul 04, 2018 at 07:03 GMT_
_Originally opened as https://github.com/exoscale/egoscale/issues/213_

----

https://godoc.org/github.com/exoscale/egoscale/cmd/exo

[2018-10-11 08:41] pierre-emmanuelJ opened #13 "exo dns add A should show the usage"
<a href="https://github.com/greut"><img src="https://avatars2.githubusercontent.com/u/1388?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [greut](https://github.com/greut)**
_Friday Aug 03, 2018 at 13:01 GMT_
_Originally opened as https://github.com/exoscale/egoscale/issues/265_

----

[code]

since it requires a _domain name_ shouldn't it display the usage at this stag

[2018-10-11 08:41] pierre-emmanuelJ commented on #13
<a href="https://github.com/greut"><img src="https://avatars2.githubusercontent.com/u/1388?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [greut](https://github.com/greut)**
_Tuesday Aug 14, 2018 at 11:49 GMT_

----

at this point, this is an issue with the underlying library...

[2018-10-11 08:41] pierre-emmanuelJ opened #14 "Add progress bar on exo sos download"
<a href="https://github.com/pierre-emmanuelJ"><img src="https://avatars0.githubusercontent.com/u/15922119?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [pierre-emmanuelJ](https://github.com/pierre-emmanuelJ)**
_Friday Aug 31, 2018 at 16:11 GMT_
_Originally opened as https://github.com/exoscale/egoscale/issues/308_

----

make like the actual sos upload command

[code]

[2018-10-11 08:41] pierre-emmanuelJ commented on #14
<a href="https://github.com/greut"><img src="https://avatars2.githubusercontent.com/u/1388?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [greut](https://github.com/greut)**
_Friday Aug 31, 2018 at 16:13 GMT_

----

<3

[2018-10-11 08:41] pierre-emmanuelJ opened #15 "why create a new SSH key"
<a href="https://github.com/sebgoa"><img src="https://avatars0.githubusercontent.com/u/1886299?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sebgoa](https://github.com/sebgoa)**
_Tuesday Sep 04, 2018 at 11:03 GMT_
_Originally opened as https://github.com/exoscale/egoscale/issues/311_

----

I like the simplicity of `exo vm create foobar`

but it creates a new SSH key:

[2018-10-11 08:41] pierre-emmanuelJ commented on #15
<a href="https://github.com/greut"><img src="https://avatars2.githubusercontent.com/u/1388?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [greut](https://github.com/greut)**
_Tuesday Sep 04, 2018 at 13:51 GMT_

----

Sadly, that information doesn't surface in the API and is a feature from the Exoscale portal itself. That information could be put in the config file (to

[2018-10-11 08:41] pierre-emmanuelJ commented on #15
<a href="https://github.com/sebgoa"><img src="https://avatars0.githubusercontent.com/u/1886299?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [sebgoa](https://github.com/sebgoa)**
_Wednesday Sep 05, 2018 at 07:25 GMT_

----

Yes, I think having something in the config to set a default pair even if it is not what's in the UI is fine.

[2018-10-11 08:41] pierre-emmanuelJ commented on #15
<a href="https://github.com/greut"><img src="https://avatars2.githubusercontent.com/u/1388?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [greut](https://github.com/greut)**
_Wednesday Sep 05, 2018 at 14:33 GMT_

----

great, thanks for the feedback.

[2018-10-11 08:41] pierre-emmanuelJ opened #16 "config: not written due to endpoint failure"
<a href="https://github.com/marcaurele"><img src="https://avatars3.githubusercontent.com/u/1081566?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [marcaurele](https://github.com/marcaurele)**
_Thursday Sep 06, 2018 at 05:41 GMT_
_Originally opened as https://github.com/exoscale/egoscale/issues/318_

----

When the remote endpoint is not available, it's impossible to add

[2018-10-11 08:41] pierre-emmanuelJ opened #17 "Managed private networks"
<a href="https://github.com/mcorbin"><img src="https://avatars3.githubusercontent.com/u/4451204?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mcorbin](https://github.com/mcorbin)**
_Thursday Sep 13, 2018 at 10:37 GMT_
_Originally opened as https://github.com/exoscale/egoscale/issues/319_

----

Add support for managed private network in Egoscale/Exo cli:

- [x] create

[2018-10-11 08:41] pierre-emmanuelJ opened #18 "On credential storage"
<a href="https://github.com/Fnux"><img src="https://avatars2.githubusercontent.com/u/1146924?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [Fnux](https://github.com/Fnux)**
_Friday Sep 21, 2018 at 06:48 GMT_
_Originally opened as https://github.com/exoscale/egoscale/issues/330_

----

Hello,

The `exo` command line utility seems very convenient, but the way it stores c

[2018-10-11 08:41] pierre-emmanuelJ commented on #18
<a href="https://github.com/greut"><img src="https://avatars2.githubusercontent.com/u/1388?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [greut](https://github.com/greut)**
_Friday Sep 21, 2018 at 07:44 GMT_

----

@Fnux do you have any tools in mind that does it correctly?

(note for myself) https://github.com/zalando/go-keyring

[2018-10-11 08:41] pierre-emmanuelJ commented on #18
<a href="https://github.com/Fnux"><img src="https://avatars2.githubusercontent.com/u/1146924?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [Fnux](https://github.com/Fnux)**
_Friday Sep 21, 2018 at 11:49 GMT_

----

In order to easily interface with any setup, I believe the easiest way would be to read the output of an external command (by adding a `secreteval` field

[2018-10-11 08:41] pierre-emmanuelJ commented on #18
<a href="https://github.com/greut"><img src="https://avatars2.githubusercontent.com/u/1388?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [greut](https://github.com/greut)**
_Friday Sep 21, 2018 at 12:06 GMT_

----

@Fnux it sounds simple enough, love it. _eval is evil_ :wink:

[2018-10-11 08:44] mcorbin commented on #17
Everything is merged, I close this issue ;)

[2018-10-11 08:44] #17 closed

[2018-10-11 08:47] pierre-emmanuelJ commented on #17
thanks

[2018-10-12 12:31] pierre-emmanuelJ opened #21 "unknown shorthand flag -A in exo api"
[code]

[2018-10-15 11:52] #12 closed

[2018-10-18 11:37] ste-m opened #29 "Add a `--vanilla` flag to `exo sos list`"
Listing objects in buckets is great but gives this kind of output:

     [2018-06-28 12:17:19 UTC] 411 KiB FILENAME_1
     [2018-06-28 12:17:18 UTC] 418 KiB FILENAME_2
     ...

It would be nice to have an option to have the output as filename only, in order to use the list in subsequent commands without having to manipulate the string.

[2018-10-18 11:43] pierre-emmanuelJ commented on #29
Thanks for this issue. `--raw`can be great

[2018-10-18 12:04] greut commented on #29
or be more like ls.

`ls` vs `ls -l`

[2018-10-18 12:06] pierre-emmanuelJ commented on #29
you mean `ls -l` to list like my `--raw` example ?

[2018-10-23 18:22] retrack opened #32 "`exo version` does not display version if no config file is present"
`exo version` does not display version if no config file is present

* current result:
`exo version
Config File "exoscale" Not Found in "[/Users/acr/.exoscale /Users/acr /Users/acr/github/demo/cli]"`

* expected result (even if config not set/correct/present):
`exo version
exo dev n/a (egoscale 0.12.2)`

[2018-10-24 07:04] greut commented on #32
thanks @retrack, that's a known bug due to the way cobra/viper handles the configuration. We'll figure out a work around this.

[2018-10-25 11:40] #32 closed

[2018-10-26 09:14] #29 closed

[2018-10-29 08:05] greut opened #35 "exo status command"
Read and display that page:

https://exoscalestatus.com/api.json

[2018-10-29 22:09] pierre-emmanuelJ commented on #35
👍

[2018-10-31 06:54] greut opened #37 "interactive config does read using Powershell"
The first selection appears, then the question doesn't.

![askquestion](https://user-images.githubusercontent.com/1388/47771060-194d0e00-dce2-11e8-9579-9b086cadcf0c.png)

Sending y or N goes further though.

[2018-10-31 06:59] greut opened #38 "defaultSSHKey shouldn't be written to the config"
I went throught the config using v1.0.3 and there is a `defaultSSHKey = ""` in the config now? Like the `sosEndpoint` it shouldn't be there unless needed.

[2018-10-31 07:02] greut commented on #38
ach, I wasn't using the latest one :)

[2018-10-31 07:02] #38 closed

[2018-10-31 07:13] greut opened #39 "sos metadata: some characters are reserved"
[code]

[2018-11-01 08:43] pierre-emmanuelJ commented on #37
oh thank you! I don't know if this lib ()selector work well with Windows?
I will check that 👍

[2018-11-01 14:23] pierre-emmanuelJ commented on #39
So this error is explicite, by putting this meta `"x-amz-meta-a&amp;b"` you can deduct that value is invalid

[2018-11-01 14:50] greut commented on #39
[code]

[2018-11-01 15:17] pierre-emmanuelJ commented on #39
yes sorry my bad!

[2018-11-01 15:50] pierre-emmanuelJ commented on #39
It's working with `&, >, "` for example when key is added to the header it's encoded
BUT with `%` it's not encoded like the other characters

[2018-11-02 08:19] greut opened #41 "privnet allow cidrmask"
allow a more convenient way of specifying the netmask

- [x] `--netmask 255.255.255.0`
- [x] `--cidrmask 24`

[2018-11-02 08:54] greut opened #42 "support CAA records"
https://support.dnsimple.com/articles/caa-record/

[2018-11-05 08:34] greut opened #46 "exo dns delete has no confirmation"
deleting stuff should have confirmations.

[2018-11-06 17:43] aarongroom opened #47 "Add CORS support to `exo sos`"
Great job implementing the SOS interface!

It might be useful to consider adding support to update CORS headers with the cli.  The following link provides a helpful overview:

https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html

The `s3cmd` tool provides `setcors` and `delcors` commands that provide most of the functionality one might need for typical use cases.

Thanks again!

[2018-11-07 07:29] greut commented on #47
As we're relying on the [minio-go] library, it has to be done there first.

[minio-go]: https://github.com/minio/minio-go

[2018-11-07 09:13] #35 closed

[2018-11-08 15:03] #42 closed

[2018-11-09 08:06] #41 closed

[2018-11-14 09:26] marcaurele opened #55 "Package name is too generic"
The deb package name is called `cli` which is too generic and not informative. Something like `exocli` would be more meaningful.

[2018-11-14 10:16] greut commented on #55
does it feel better?

[code]

[2018-11-15 06:50] #55 closed

[2018-11-15 09:00] #15 closed

[2018-11-16 11:28] aarongroom opened #59 "Add recursive upload capability for `sos upload`"
It would be great if `sos upload` could take an optional flag such as `--recursive` or `-R` for uploading directories!

Thanks again for the great work!

[2018-11-16 12:18] pierre-emmanuelJ commented on #59
yes could be great 👍

[2018-11-19 09:59] #18 closed

[2018-11-21 10:32] falzm opened #64 "getMyCIDR(false) returns an IPv6 CIDR if IPv6 connectivity available"
The `cmd/firewall.go:getMyCIDR()` function returns an IPv6 even if called with `isIpv6` argument set to `false`. This is because the `net.Dial("udp", ...)` call uses OS TCP/IP stack priority which is IPv6 before IPv4, so if the host on which the code runs happens to have IPv6 working the OpenDNS resolution will actually happen over IPv6 and therefore return an IPv6 address instead of IPv4.

A way

[2018-11-22 08:30] #64 closed

[2018-11-28 08:19] greut opened #68 "api shouldn't allows raw args"
Allowing any args in the API gives the false impression that they do something.

[code]

[code]

[2018-11-29 17:45] #46 closed

[2018-11-30 09:22] #68 closed

[2018-12-03 11:46] #59 closed

[2018-12-03 11:47] aarongroom commented on #59
Thanks!

[2018-12-11 15:59] JessicaToscani opened #75 "exo ssh error if instance name matchs multiples instances"
exo vm create test
exo vm create test2

exo ssh test
more than one element found: apikey=xxxx, command=listVirtualMachines, expires=2018-12-11T17%3A02%3A33%2B0100, name=test, response=json, signatureversion=3

[2018-12-11 17:42] greut commented on #75
if the name is not unique, then it complains. It could be smarter.

[2018-12-12 06:15] #13 closed

[2019-01-11 11:58] greut opened #81 "firewall add my-ip create two rules"
Adding the SSH rule with my-ip create two rules when only the one containing my-ip should exist.

[code]

[2019-01-14 08:08] greut opened #82 "exo lab kube to put kubeconfig into a proper context"
https://github.com/ahmetb/kubectx

[code]

help. https://kubernetes.io/docs/setup/certificates/#configure-certificates-for-user-accounts

[code]

[2019-01-15 15:16] greut opened #83 "runstatus unmarshalling errors"
[code]

[2019-01-21 20:05] pierre-emmanuelJ opened #88 "Create a function to execute non async tasks asynchronousely"

[2019-01-23 08:49] greut commented on #88
[code]

Any `AsyncCommand` is also a `Command`. The opposite is false though.

`BooleanRequest` is only a helper method for commands where the `(Async)Response` is a `booleanResponse`. You man run them through the usual pipe, although you won't be able to cast it back to anything as it's an hidden type. **<- this should probably be fixed though**

[2019-01-25 16:08] pierre-emmanuelJ opened #92 "Panic When using Env credentials"
Env credentials example:

EXOSCALE_SECRET_KEY=XXXXXXXX...
EXOSCALE_API_KEY=EXOXXXX...
EXOSCALE_COMPUTE_ENDPOINT=https://api.exoscale.ch/compute

Panic on `exo vm create test1` because `gCurrentAccount` is nil

When I verify if it's nil to continue there is an other issue on zone
`more than one element found: apikey=EXO5145bd25f0ce3d5cc7ab087a, command=listZones`

other issue exo config ask to crea

[2019-02-15 09:31] lucj opened #96 "Cannot spin up my little kube with 'exo lab kube'"
I've installed the exo cli (1.0.7) on my mac and tried to spin up a one node kube.
The deployment step went fine but it seems the api-server is not started.
Any idea what I'm missing ?

[code]

The error I got when running a kubectl command

[code]

[2019-02-15 09:59] falzm commented on #96
Hi @lucj

I cannot reproduce your issue using the exact same command you've executed with the exact same `exo` version. Could you please check if this is not a network filtering related issue (e.g. firewall blocking the port 6443)?  In order to check you can execute the following command:

[code]

[2019-02-15 10:07] lucj commented on #96
My bad... this port was not allowed on our end (I was sure it was).
Sorry for that... I'll have fun with "exo lab kube" now (through my mobile) :)

[2019-02-15 10:07] #96 closed

[2019-02-15 10:19] falzm commented on #96
No problem, have fun :)

[2019-02-20 08:45] ste-m opened #99 "`exo eip delete` returns 0xc0..."
**To reproduce:**

    $ exo eip delete 89.145.165.61
    [+] sure you want to delete "89.145.165.61" EIP [yN]: y
    0xc00017c5e0

**Expected behaviour:**

    $ exo eip delete 89.145.165.61
    [+] sure you want to delete "89.145.165.61" EIP [yN]: y
    # either return the resource uuid as done for other cases or a human readable confirmation message

[2019-02-20 08:50] ste-m opened #100 "`exo eip delete` only deletes first argument, contrary to other commands"
In commands as `exo firewall delete` is possible to pass multiple params:

    $ exo firewall delete A B C
    [+] Are you sure you want to delete the security group: "A" [yN]: y
    b0e5f8da-d1b7-47cd-933e-6237a28615d7
    [+] Are you sure you want to delete the security group: "B" [yN]: y
    e07b16e9-5d58-41a4-af4f-47ade67c2e03
    [+] Are you sure you want to delete the security group: "C" [yN

[2019-02-20 13:39] #100 closed

[2019-02-27 08:34] #92 closed

[2019-02-27 08:35] #81 closed

[2019-02-28 14:55] pierre-emmanuelJ opened #110 "Add JSON output"
We have standard exo tab output:
[code]

We have Markdown output:
[code]
| NAME  | SECURITY GROUP |   IP ADDRESS   | STATUS  |   ZONE   |                  ID                  |
|-------|----------------|----------------|---------|----------|--------------------------------------|
| test3 | default        | 89.145.162.134 | Running | de-fra-1 | 1c288f5d-4f21-4f6b-8ff1-31f071e975f7 |
| test2 | defau

[2019-02-28 16:28] falzm opened #111 "exo lab kube: add support for user-specified k8s version"
Sometimes running `exo lab kube create` fails because the latest version of Kubernetes (retrieved at https://dl.k8s.io/release/stable.txt) is not yet packaged by Ubuntu). For example right now  the latest k8s version advertised is `1.13.4`, however creating exokube instances fails because the latest packaged version of the *kubelet/kubeadm/kubectl* utilities is `1.13.3`.

Adding an optional `--ver

[2019-03-01 14:55] #111 closed

[2019-03-05 08:23] falzm opened #113 "Allow VM instance security group modification with exo CLI"
Currently it is not possible to modify a VM instance's security groups using the `exo` CLI – even when the VM is stopped.

I see 2 different ways to implement this (or maybe even both):

[code]

Any opinion?

[2019-03-05 08:24] greut commented on #113
The underlying call being `updateVirtualMachine`, I'd go with the _vm_ group but it could be both. :+1:

[2019-03-07 11:57] daviddutch opened #117 "The cli crashes when adding a DNS entry"
The cli crashes when adding a DNS entry when I execute this command:
`$ exo dns add A mydomain.com -a ${DEPLOYMENT_SERVER_IP} -n ${MACHINE_NAME}`

I get the following error:
[code]

My CLI is running in a docker container and configured with ENV variables. Other commands such as vm list and create work fine.

[2019-03-07 12:36] #117 closed

[2019-03-07 12:38] pierre-emmanuelJ commented on #117
Hello 😄 I have just fixed this issue in this commit https://github.com/exoscale/cli/commit/caaa0c323c51678f55c41d90f668e77f0094719b
Thanks a lot for your issue reporting  🚀

[2019-03-07 14:52] daviddutch commented on #117
Hi, thanks for the fast fix.
When is the next release planned?

[2019-03-08 07:43] greut commented on #117
@daviddutch sorry for the delay, pulling v1.1.3 should hopefully fix your issue. Many thanks for the reports. :clap:

[2019-03-13 12:25] falzm commented on #99
This problem is still present in the current version:

[code]

[2019-03-13 12:59] pierre-emmanuelJ commented on #99
There was some change in Egoscale and then so we forget to update CLI.
thanks for report 👍
I will implem a conformation before dissociate with redable value 😀

[2019-03-13 13:35] falzm commented on #99
Same for `eip associate` too 😏

[2019-03-13 15:17] pierre-emmanuelJ commented on #99
everywhere I print `ID` as a string

[2019-03-13 15:51] falzm commented on #99
![2vxz4q](https://user-images.githubusercontent.com/1122379/54293449-4a9eea00-45b0-11e9-9759-dadc4103638f.jpg)

[2019-03-14 16:32] pierre-emmanuelJ opened #120 "Refacto some CMDs more async"
as in this issue #99 and this PRs #101, #119 make the same refactoring for:

use asyncTasks() to make multiple query at the same time

- [x]  exo vm start
- [x]  exo vm stop
- [ ]  exo vm reboot
- [ ]  exo vm reset
- [ ]  exo vm resize
- [ ]  exo vm scale

[2019-03-26 09:54] #113 closed

[2019-03-26 11:58] lucj opened #122 "Error while launching a one node kube"
Hello, I have the following error when creating a one node kube cluster. Anything I've missed ?

[code]

[2019-03-26 14:21] greut commented on #122
AFAIK, the issue is due to the base template. @pierre-emmanuelJ you did experience that right?

[2019-03-26 15:33] greut opened #123 "kube create doesn't handle ^C"
It's not possible to interrupt the installation while it's running...

[2019-03-29 10:36] #99 closed

[2019-03-29 10:52] #122 closed

[2019-04-11 09:45] adedommelin opened #130 "Content-Type sniffing broken on files < 512 bytes"
Hello,

CLI doesn't sniff Content Type on files < 512bytes, leading to objects served with a "Content-Type: application/octet-stream".
Please find a PR that should fix the problem : #129

Alex

[2019-04-18 09:18] #130 closed

[2019-04-25 11:58] pierre-emmanuelJ opened #137 "SOS: corrupted file on upload"
bug on exo sos upload
I have tested the download (okay with file uploaded from the web console)

[code]

[code]

[code]

[code]

BUG: checksum are different

Download is okay!

[code]

[code]
all download are valid!

[2019-04-25 11:59] mcorbin commented on #137
If you download the file manually from SOS, the checksum is ok (the problem is only in the CLI) ?

[2019-04-25 12:01] pierre-emmanuelJ commented on #137
the problem is from the exo upload cmd. most of the time on big file

[2019-04-25 12:12] pierre-emmanuelJ opened #138 "SOS: upload freeze on empty file"
all is in the title

[2019-04-25 12:29] pierre-emmanuelJ opened #139 "SOS: add exo sos show cmd"
there is already some cmd to show info like:
exo sos acl list
exo sos header list
exo sos metadata list

but why not add `exo sos show <bucket> <object name>`
to show info like on the web consol (object url) and why not acl, header, meta to have the info quicker

[2019-04-25 12:34] falzm commented on #139
Good idea. There is a whole project of portal/CLI alignment to be conducted, but it doesn't hurt to fix some inconsistencies right now ;)

[2019-04-29 06:27] bcachet commented on #137
when you upload your file, do you provide md5 information ?
SOS will validate uploaded content with provided md5 and will fail upload if there is a mismatch

[2019-04-30 09:34] lord2y opened #140 "Register template"
I was play around with the openbsd template.
I was able to successfully upload the template:

[code]

but when I try to list `--mine` I got:

[code]

[2019-04-30 09:37] falzm commented on #140
Thank you for reporting this issue @lord2y, I will have a look at it.

[2019-05-02 15:57] falzm opened #143 ""exo vm template register" usage help"
`exo vm template register` called without any argument tries to register a template – and obviously fails:

[code]

It should print and usage error message and the command usage help.

[2019-05-06 07:54] #140 closed

[2019-05-11 10:07] janoszen commented on #110
Yes please! This would make scripting much easier.

[2019-05-11 11:37] pierre-emmanuelJ commented on #110
For the moment you can use `exo api` to use directly the  api json output.
e.g:
[code]

[2019-05-13 12:52] pierre-emmanuelJ opened #146 "Fix gh-pages website build"
![image](https://user-images.githubusercontent.com/15922119/57622810-b096f600-758e-11e9-88cc-195ae0113974.png)

![image](https://user-images.githubusercontent.com/15922119/57622792-a543ca80-758e-11e9-9958-a2dcae40eb06.png)

[2019-05-23 14:37] falzm commented on #146
Fixed 👍

[2019-05-23 14:37] #146 closed

[2019-05-24 08:03] pierre-emmanuelJ commented on #146
Thx

[2019-05-28 08:29] mcorbin opened #149 "Sometimes, custom templates are not visible"
I have 2 custom templates. One is named `Linux Debian mcorbin 80 64-bit`, the other `Linux Debian mcorbin 50 64-bit`.

`cs listTemplates templatefilter="self"` returns both templates, but not the CLI:

[code]

[CH3649]

[2019-05-28 08:38] greut commented on #149
`EXOSCALE_TRACE= exo vm template list --mine`

[2019-05-28 08:41] mcorbin commented on #149
[code]

[2019-05-29 06:32] falzm commented on #110
A prototype support implementation is up for review: https://github.com/exoscale/cli/pull/150

[2019-05-30 05:20] greut commented on #149
@mcorbin it happens there, https://github.com/exoscale/cli/blob/c251678065838b95a1eff2cdf7e3b78b9469b03d/cmd/template.go#L95

[2019-06-14 12:28] falzm commented on #137
I've reproduced the issue but didn't find a solution for now. Maybe try to update minio dependency, so switch to Go AWS SDK (never had any issues uploading large files with it, even with SOS): https://godoc.org/github.com/aws/aws-sdk-go/service/s3/s3manager

[2019-06-17 13:47] janoszen opened #155 "exo does not respect $HOME"
Unfortunately it seems that exo does not respect the $HOME environment variable, which makes scripting a bit tricky.

[2019-06-17 15:37] janoszen commented on #155
Yes.

1. Create an exoscale.toml in a non-standard directory
2. export HOME=/other/directory
3. Run exo (e.g. zone list)

This is needed when a script creates exoscale.toml temporarily to not leave
the credentials permanently on said machine.

On Mon 17. Jun 2019 at 15:52, Marc Falzon <notifications@github.com> wrote:

[2019-06-17 15:45] falzm commented on #155
OK thank you for explaining, this is indeed a bug. Thank you for reporting!

[2019-06-17 17:27] greut commented on #155
@janoszen use XDG_CONFIG_HOME instead.

https://github.com/exoscale/cli/blob/53606fba7615fc5aa09b4df85a55b9784dac4f99/cmd/root.go#L188

[2019-06-17 20:10] janoszen commented on #155
I can work around it, that’s not the problem, but it breaks convention.

On Mon 17. Jun 2019 at 21:56, Yoan Blanc <notifications@github.com> wrote:

[2019-06-18 05:52] greut commented on #155
maybe `os.UserHomeDir`[1] leads to a better result that `User.HomeDir`[2]

1. https://godoc.org/os#UserHomeDir
2. https://godoc.org/os/user#User

[2019-06-19 15:05] falzm commented on #137
An issue has been opened in the minio-go repository: https://github.com/minio/minio-go/issues/1124

[2019-06-21 07:43] #137 closed

[2019-06-21 08:43] #143 closed

[2019-06-21 09:03] falzm commented on #110
Added in #150.

[2019-06-21 09:03] #110 closed

[2019-06-24 07:20] falzm commented on #155
Duly noted: I'll keep this change for an upcoming backward-incompatible release.

[2019-07-18 11:21] ste-m opened #164 "Add recursive delete capability for "sos delete""
As done for https://github.com/exoscale/cli/issues/59 the CLI misses the ability to recursively delete objects and, by consequence, non-empty buckets.

Dunno if a `--force` flag is suitable, worth maybe looking at the behaviour of other S3 compatible tools.

[2019-07-18 11:22] falzm commented on #164
Thanks @ste-m, I will look into this.

[2019-07-29 09:48] falzm opened #166 "lab kube: node installation fails"
The `exo lab kube create` command currently fails:

[code]

[2019-07-29 09:51] falzm commented on #166
[ch4835]

[2019-07-30 13:47] #166 closed

[2019-08-05 13:43] falzm commented on #164
It looks like there is no such thing as a recursive delete in the S3 API, absolute object path must be provided in order to delete it. I've been told that the SOS API supports S3's [Multiple Delete Object API](https://docs.aws.amazon.com/AmazonS3/latest/API/multiobjectdeleteapi.html), and the library we currently use in `exo` supports it so it should be doable without too much hassle.

[2019-08-05 13:48] ste-m commented on #164
Ah, ok! I took a shortcut in assuming that if such convenience was available in a tool as `s3cmd` then it would be part of the S3 API. The flag that prompted me to assume that is `--recursive`, that would allow something like

    s3cmd del --recursive s3://bucket-to-delete

https://s3tools.org/usage

[2019-08-05 13:51] falzm commented on #164
Yes, but since we partially implement the S3 API I wasn't considering it was possible *de facto* ;)

[2019-08-06 12:25] falzm commented on #138
Related to https://github.com/vbauerster/mpb/issues/7

[2019-08-06 17:15] falzm commented on #138
[Possibly a bug](https://github.com/vbauerster/mpb/issues/7#issuecomment-518756758) in the minio-go package, so I've opened an issue there: https://github.com/minio/minio-go/issues/1146

[2019-08-07 16:04] #138 closed

[2019-08-08 07:23] #164 closed

[2019-08-29 13:33] hansmi opened #176 ""exo zone" does not respect JSON output format"
Exoscale CLI 1.4.0 added the `--output-format` parameter which asks for all output to be in JSON. The `exo zone` subcommand doesn't respect it as of `exo 1.5.0 51659e3 (egoscale 0.18.1)`:

[code]

[2019-08-30 11:23] hansmi opened #177 ""exo sos create" with non-existent zone hangs"
When given a non-existing zone (e.g. a typo) the `exo sos create` command never finishes. It doesn't handle ^C either and needs SIGQUIT via ^4.

[code]

[2019-08-30 19:34] hansmi commented on #176
I've since realized that quite a few other commands don't support JSON output either and that the `exo api` group of commands allows for more direct API access with JSON output. I'm no longer considering this a bug.

[2019-08-30 19:34] #176 closed

[2019-09-02 12:28] pierre-emmanuelJ commented on #177
Thanks for this issue, I will open a pull request ASAP

[2019-09-09 09:47] falzm commented on #176
Hi @hansmi, thank you for reporting this issue. I'm happy that you've found a workaround using the `exo api` command, however this was actually a bug so we've fixed anyway in PR #179 ;)

[2019-09-10 06:21] mcanevet opened #181 "Push new versions to Docker hub"
Latest version on Docker Hub is 1.3.0. Could you please push new versions?

[2019-09-10 07:00] falzm commented on #181
Thank you for reporting this problem, sorry about that... Images for the latest versions are now available 👍

[2019-09-10 07:00] #181 closed

[2019-09-10 14:49] falzm commented on #177
Thank you for reporting this bug. Good news: it doesn't actually *never* finish – it just takes a loooong while 🙃:

[code]

I'll implement a pre-flight check to ensure the zone specified actually exists before issuing the request.

[2019-09-11 07:53] #177 closed

[2019-09-11 15:11] #120 closed

[2019-09-11 15:19] pierre-emmanuelJ commented on #177
We have to use more `context` to handle the  ^C in this case

[2019-10-21 10:20] 91378246 opened #188 "VM Create failure due to spaces in the url"
The vm create command fails when the template url contains spaces.

**Command**
[code]

[2019-10-21 11:20] pierre-emmanuelJ commented on #188
Thanks for your issue! we will fix that ASAP 👍

[2019-10-22 12:39] martialt opened #189 "Certificat error with exocli on Windows"
Hi,

I get this error when I try to list my buckets from exocli.exe on Windows server.
[code]
Regards,
Martial

[2019-10-22 12:52] falzm commented on #189
Hi, thank you for reporting this issue. Can you please provide details on your environment (Windows version, `exo` version...)?

[2019-10-22 13:20] martialt commented on #189
Sure.
I used this Exoscale template "Windows Server 2019" and exocli 1.5.1.

[2019-10-23 09:47] falzm commented on #189
Hi @martialt, just to let you know that we've successfully reproduced the issue on our side and are working on a fix right now, stay tuned.

[2019-10-28 07:38] falzm commented on #189
Hi @martialt, we have identified and fixed the issue, we've tested it on Windows and it seems to resolve the problem.

Here is a test binary of the patched `exo` command, could you please run it on your end and confirm that it works as expected? You can find the bugfix details in PR #192, however long story short: you'll need a file containing the certificates chain for the Exoscale SOS API and pr

[2019-10-29 10:44] martialt commented on #189
Hi @falzm, works well with the new option.
[code]

Thank you.

[2019-10-29 10:44] #189 closed

[2019-10-29 10:51] falzm commented on #189
@martialt great, thank you for the feedback. This fix will be included in a new CLI release soon.

[2019-11-01 13:23] pyr commented on #155
I took a look at it and according to XDG[1], home should be looked up when `$XDG_CONFIG_HOME` is not set. @janoszen If you use different directories I still recommend setting XDG_CONFIG_HOME instead of HOME otherwise you will have to create a `.config` directory in your other location.

[1]: https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html#variables

[2019-11-04 16:16] #155 closed

[2019-11-04 16:17] pierre-emmanuelJ commented on #155
Thanks @pyr 👍

[2019-11-08 08:59] falzm commented on #189
@martialt the fix has been shipped in the latest 1.6.0 version release: https://github.com/exoscale/cli/releases/tag/v1.6.0

[2019-11-12 07:58] martialt commented on #189
@falzm
OK. Thank you.

[2019-11-13 13:05] janoszen opened #197 "exoscale.toml created in the wrong directory on Windows"
When running `exo config` on Windows, the file in `C:\Users\USERNAME\.config\exoscale\exoscale.toml` is created with 0 bytes, and the actual `exoscale.toml` is created with the correct content in the current directory.

[2019-11-13 13:25] pierre-emmanuelJ commented on #197
Thanks to post this issue 👍
We will try to reproduce the bug to solve it

[2019-11-22 08:28] falzm commented on #188
Hi @91378246, the problem should be fixed now:

[code]

Can you please retry and confirm?

[2019-11-25 12:25] 91378246 commented on #188
Works, thanks.

[2019-11-25 12:25] #188 closed

[2019-12-17 23:46] janoszen commented on #197
This issue seems to be fixed in git master on Windows 10 Pro.

[2019-12-18 08:59] pierre-emmanuelJ commented on #197
Thank you!
Solved by: https://github.com/exoscale/cli/pull/193

[2019-12-18 09:00] pierre-emmanuelJ commented on #197
On my side tested on Windows server 2019

[2020-01-30 15:55] horakg commented on #197
looks like that bug still exists, just extracted exo cli 1.10.0 on my windows notebook to C:\users\mk6s56\mydrive\exo and did an "exo config" afterwards

C:\Users\mk6s56\myDrive\exo>exo config
No Exoscale CLI configuration found

Hi happy Exoscalian, some configuration is required to use exo.

We now need some very important information, find them there.
        <https://portal.exoscale.com/accoun

[2020-02-02 09:56] greut commented on #197
If you're ready to adopt Go 1.13, [`os.UserConfigDir()`](https://godoc.org/os#UserConfigDir) should handle this correctly.

[2020-02-03 09:51] pierre-emmanuelJ commented on #197
Thanks @greut I'll have a look to that 😉

[2020-02-03 14:08] falzm commented on #197
@horakg we've just tried but failed to reproduce your issue on a Windows 10 system with the latest release of `exo`: it's unlikely that there is a regression in the code. Which Windows version are you using?

[2020-02-04 06:47] horakg commented on #197
@falzm  on my windows 10 pc at home it works, will verify it again on my office laptop

On both pcs I just extracted the zip file to a folder and run exo config

[2020-02-04 12:45] horakg commented on #197
@falzm attached the information from my windows 10 office pc
![image](https://user-images.githubusercontent.com/42831199/73745991-89073f80-4754-11ea-9de1-6af080c65557.png)

[2020-02-04 12:47] falzm commented on #197
@horakg can you please try with this binary? https://github.com/exoscale/cli/pull/220#issuecomment-581781637

[2020-02-05 07:00] pyr commented on #197
Fixed by #220, thanks for testing

[2020-02-05 07:00] #197 closed

[2020-02-21 16:15] mcorbin opened #224 "Exo kube lab: Some fatal errors occurred"
I'm trying to create a Kubernetes cluster with the `exo kube lab` command, but I hit an error. Here are the logs:

[code]

[2020-02-23 12:49] greut commented on #224
Calico 3.6 does indeed look old,  https://docs.projectcalico.org/getting-started/kubernetes/quickstart

[2020-04-30 09:28] horakg opened #242 "exo vm snapshot export missing checksum"
looks like checksum is missing in the output

[usera@instance ~]# exo vm snapshot export <snapshotid>
exporting snapshot "snapshot"................................................................................................................................................... success
┼──────────┼─────────────────────────────────────────────────────────────────────────────────────────────────────

[2020-04-30 09:38] falzm commented on #242
@horakg did you already export this snapshot before using `exo vm snapshot export`? We've already seen this issue with snapshots that were exported before the checksum computation has been implemented.

[2020-04-30 10:15] falzm commented on #242
So I confirm the problem, however I'm closing this issue as the problem is not located in `exo` but API-side, because the `exportSnapshot` call returns a null value for the checksum property. Thank you for reporting this issue, I've opened a ticket to fix the API issue internally.

[2020-04-30 10:15] #242 closed

[2020-05-05 14:24] illi-j commented on #139
#204

[2020-05-05 14:29] #139 closed

[2020-05-05 15:15] #224 closed

[2020-07-11 17:45] Daeinar opened #270 "exoscale-cli command panics when executed via sudo / as root"
Hi Exoscale team,

When executing
[code]
I'm getting the following panic:
[code]
A similar issue was reported at https://github.com/google/keytransparency/issues/1295 and resolved via https://github.com/google/keytransparency/pull/1293.

Strangely when I execute the command without `sudo` everything works fine.

I'm using the following version: `exo 1.14.0 a84b0b6 (egoscale 0.26.6)`

[2020-07-12 08:13] greut commented on #270
@Daeinar the issue at hand is that no configuration files were found by `exo`. Try the following:

[code]

[2020-07-12 08:22] greut commented on #270
if anyone wants to fix that, it's around there https://github.com/exoscale/cli/blob/master/cmd/root.go#L241-L248

[2020-07-12 09:57] Daeinar commented on #270
@greut Great, providing the configuration file worked. Thanks a lot!

[2020-07-13 07:52] pierre-emmanuelJ commented on #270
Thanks @greut! Thanks @Daeinar for reporting the issue. Yes you can use the configuration directly, we will fix the panic ASAP thank you.

[2020-07-20 11:59] falzm commented on #270
Hi @Daeinar, in practice you should not resort to using `exo api` commands (those are really low-level and should only be used when there is no equivalent in the standard commands – and will soon be retired.

[2020-07-20 15:25] Daeinar commented on #270
@falzm Thanks for the heads-up, that's good to know. Will use those commands instead in the future.

[2020-07-22 09:37] denis-exo opened #271 "CLI tries to write into a not connected drive and fails"
The working laptop has a C:\ drive for Windows and another company drive U:\
U is only connected if the laptop is on the company network. For some reason, exoscale-cli tries to write into U, even when installed in C. As U is not always connected, the CLI will fail.

Note that the binaries are installed in `C:\exoscale`

**WHEN** U is not connected (not in company network):
[code]

**WHEN** U/the c

[2020-07-27 12:37] #270 closed

[2020-07-27 15:05] greut commented on #270
\#wontfix

[2020-08-10 14:32] falzm commented on #149
@mcorbin I might have found a simple yet efficient way to finally solve this issue – at least for custom templates. Instead of filtering based on the template name (which only returns a single result because the map key is the template name), we set the map key to the template ID, which effectively disables the filtering:

[code]

Before change:

[code]

After change:

[code]

The change has no im

[2020-08-11 07:30] #149 closed

[2020-09-23 09:17] janoszen opened #288 "Listing runstatus pages does not work"
With the latest version of the Exoscale CLI listing runstatus pages does not work:

[code]

Listing virtual machines works. The same issue persists when calling the method directly from the Egoscale library.

[2020-09-23 12:06] falzm commented on #288
@janoszen do you use an IAM-based API key in your configuration? If yes, this is a known bug, as the Runstatus API doesn't support them (only native Exoscale organization account API credentials). Sorry for the inconvenience.

[2020-09-23 12:07] janoszen commented on #288
Since the other ones are gone now, yes.

[2020-09-23 12:12] falzm commented on #288
I'm closing this issue as this issue is not related to the Runstatus implementation in the CLI or in egoscale library. I suggest you reach out to the Exoscale support to be kept in the loop with updates on this topic.

[2020-09-23 12:12] #288 closed

[2020-09-23 19:32] janoszen commented on #288
Thanks, not a big deal, I just wanted to implement it for this tool: https://github.com/janoszen/exoscale-account-wiper

[2020-10-07 13:45] falzm commented on #271
Hi @denis-exo, this issue should be fixed in version 1.19.0 released today – let us know if that's not the case.

[2020-10-07 13:45] #271 closed

[2020-10-28 11:33] joggie opened #294 "exo vm create ignores --output-format flag"
[code]

The output should be some kind of json to work with, but its a string.
For automation with ansible/molecule I have to parse the string with regex... if something changes in the string the regex may fail.
Please allow the output-format flag for vm create

thanks

[2020-11-11 11:29] SebastienPittet opened #296 "Invalid Authorization header (exo runstatus list)"
Hello !

I tried to update a RunStatus page with the CLI and it triggered the error message **"Invalid Authorization header"**.

- Version : exo 1.20.0 a6a1cb0 (egoscale 0.33.2)
- OS : Debian (but... running on Windows Subsystem for Linux).

Did you also have the same error ?

[2020-11-12 08:03] falzm commented on #296
Duplicate of https://github.com/exoscale/cli/issues/288.

[2020-11-12 08:03] #296 closed

[2020-11-16 11:43] #294 closed

[2020-11-20 14:53] Heliosmaster opened #298 "VM tags from CLI"
It looks like it's not possible to set tags to VMs using the CLI. It would be cool to add the option (and filter maybe based on tags?)

[2021-03-25 12:57] mcanevet opened #322 "Support client-go credential plugins for authentication to SKS"
Currently to connect to SKS we have to generate a full kubeconfig file with `exo sks kubeconfig ... > kubeconfig.yaml`.
It would be great to be able to have a static kubeconfig file that calls the `exo` binary to retrieve the token dynamically.
Reference: https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins

[2021-03-25 13:16] falzm commented on #322
Hi @mcanevet thank you for the suggestion, it's a good idea – we'll see to have this functionality added 👍

[2021-03-25 14:54] falzm commented on #322
@mcanevet support on its way: #323

[2021-03-26 15:08] #322 closed

[2021-03-26 15:18] falzm commented on #322
@mcanevet available in version 1.26.0.

[2021-03-27 11:17] lucj opened #325 "Cannot get details of a cluster"
Hello, I can get the list of the sks clusters but cannot get the details of those ones:

[code]

Listing the clusters runs fine:

[code]

But using the ID or NAME I cannot get the details:

[code]

[2021-03-27 12:02] SebastienPittet commented on #325
Hello!

You probably need to specify the zone.

exo sks show test -z de-fra-1

Does it help?

[2021-03-27 12:49] lucj commented on #325
Thanks @SebastienPittet ! My fault.... it's working fine with the -z flag

[2021-03-27 12:49] #325 closed

[2021-04-01 06:31] falzm commented on #47
Implemented in `exo storage cors`.

[2021-04-01 06:31] #47 closed

[2021-04-09 06:53] falzm commented on #298
Hey @Heliosmaster, thank you for the suggestion. We're in the middle of an API transition in the Exoscale tooling, and tags are not fully supported [in the new API](https://openapi-v2.exoscale.com/) yet. I'll go ahead and close this issue for now, as we'll definitely implement tags for all resources as soon as they're supported API-side.

[2021-04-09 06:53] #298 closed

[2021-04-09 06:56] falzm commented on #123
Won't fix: `exo lab kube` commands are on the way out since SKS has been released.

[2021-04-09 06:56] #123 closed

[2021-04-09 06:57] falzm commented on #82
Won't fix: `exo lab kube` commands are on the way out since SKS has been released.

[2021-04-09 06:57] #82 closed

[2021-04-09 06:59] falzm commented on #37
Can't reproduce, closing for now.

[2021-04-09 06:59] #37 closed

[2021-04-09 07:04] falzm commented on #16
Can't reproduce, probably fixed since then.

[2021-04-09 07:04] #16 closed

[2021-04-09 07:05] #1 closed

[2021-04-09 16:58] Daeinar opened #329 "API error when provisioning VMs with cloud-init"
Hi exoscale team,

I've been running into an issue when provisioning VMs via cloud-init.

The `cloud-init.yaml` config file I am using is:

[code]

When trying to deploy it via
[code]
I get the following error:
[code]

The strange thing is that if you remove the `runcmd` or `write_files` parts then the deployment works in either case.

Do you have any idea what's going on here?

Thanks a lot in ad

[2021-04-12 08:17] falzm commented on #39
Fixed in #328.

[2021-04-12 08:17] #39 closed

[2021-04-12 08:18] falzm commented on #329
Hi @Daeinar, thank you for reporting this issue. I can reproduce it on my end, so we'll investigate.

[2021-04-13 07:23] falzm commented on #329
@Daeinar a fix is on the way: #330

[2021-04-13 07:59] #329 closed

[2021-04-13 10:27] Daeinar commented on #329
@falzm Nice, thanks. Appreciate it!

[2021-04-14 07:43] falzm commented on #329
@Daeinar we just released version 1.27.2 containing the fix to this issue.

[2021-06-10 08:17] jeffallen opened #342 "Restricted API keys should be able to detect themselves"
I wanted to write a security safety check feature like, "on tool start, check that the API key currently in use is restricted as expected otherwise error and quit".

But the only way to know the restrictions of a given key are to execute with an API key which has the IAM access right. Which I do not want my restricted key to have, for obvious reasons.

Ideally what I'd like is to have the restrict

[2021-06-10 08:39] falzm commented on #342
Hi @jeffallen, this is more of an API problem than the CLI itself – after all, it's only an API client and if the credentials it's using don't have the permission to look up an IAM API key's details, then there nothing we can do at this level... I'll inquiring about this to my backend colleagues, to see if there is something that could be done API-side.

[2021-06-10 09:06] falzm commented on #342
So after bring up this topic to my colleagues, the final answer is: "you can include the `getApiKey` permission to your restricted keys in order to be able to look up their supported permissions". From our API's perspective, it is not possible to give out information on an IAM API key without this permission, even for the caller's own API key.

Also, the `exo config show` is about the CLI-specific

[2021-06-10 09:06] #342 closed

[2021-06-10 12:07] jeffallen commented on #342
Thanks, but I don't see how to do this from the exoscale web UI. It only allows me to set API key restrictions it knows about, and it does not know about "getApiKey". Am I missing something?

[2021-06-10 12:13] falzm commented on #342
The `getApiKey` permission is available under the *IAM* Service section:

<img width="1917" alt="Screenshot 2021-06-10 at 14 11 46" src="https://user-images.githubusercontent.com/1122379/121522967-f8024180-c9f5-11eb-9ca8-50c2e95cb518.png">

[2021-06-10 12:14] falzm commented on #342
If you have more questions or issues to report on this topic, I suggest you open a support ticket from the portal.

[2021-06-24 13:03] DecentAgeCoder commented on #329
The issue seems not to be fixed with version 1.32.2.

The following calls works fine:
exo vm create --template "Linux Debian 10 (Buster) 64-bit" --service-offering "medium" --zone "ch-dk-2" "test-01"

But when I pass the path of my cloud-init.yml file:
exo vm create --template "Linux Debian 10 (Buster) 64-bit" --service-offering "medium" --zone "ch-dk-2" "test-02" --cloud-init-file "/tmp/cloud-ini

[2021-06-24 13:35] falzm commented on #329
@DecentAgeCoder can you please share your cloud-init file? It won't be possible to pinpoint the issue without it.

[2021-06-25 15:25] DecentAgeCoder commented on #329
Since my cloud-init file contains sensitive data I can not provide the file. I could in some cases just remove certain lines it was working again. I tried to reproduce the error with some test content without any success.

My assumption without looking into the code is that the HTTP request gets corrupted due to certain special characters (or a sequence) in the base64 encoded user data leading to

[2021-06-28 06:56] falzm commented on #329
@DecentAgeCoder looks like you have opened a support ticket relating to this issue, you can safely provide your cloud-init.yml file over there.

Also, the content of the user-data configuration is compressed before it is sent over to the API, so any non-ASCII character present in it shouldn't cause this issue. If you want to see the network exchange between the CLI and the API, you can set the env

[2021-06-28 09:35] DecentAgeCoder commented on #329
Thanks Marc! Yes that makes sense (regarding non-ASCII characters).
I just sent the corresponding cloud-init.yml file together with the trace output to the exoscale support.

[2021-07-01 09:12] DecentAgeCoder commented on #329
@falzm I just read the documentation regarding the service deployVirtualMachine on https://community.exoscale.com/api/compute/.

It clearly states that the size of the request parameter 'userdata' musn't exeed 2KB when using GET method. In my case it probably exceeds this limit. It hink that's a standard limit for a HTTP request aprameter.
I just checked the trace, the web service uses GET and not

[2021-07-01 09:12] DecentAgeCoder commented on #329
I just checked the size of my base64 encoded string in the log trace. It is 3.6 KB in size. So it definitely exceeds the limit of 2 KB!

[2021-07-01 09:20] falzm commented on #329
@DecentAgeCoder the underlying egoscale library switches to `POST` requests when the payload exceed 2048 bytes: https://github.com/exoscale/egoscale/blob/master/request.go#L336-L341

[code]

[2021-07-29 09:41] ktomk opened #358 "API error when provisioning VMs with cloud-init"
**Command**

**Error Message**

**Context**

* exo version:  exo 1.37.0 89b170da (egoscale 0.63.0)
* Zone: de-fra-1
* `exoscale/cloudinit.yaml` Size: 3218 (bytes, as in stat(1))

**Additional Information**

The error does not appear if the file-size is smaller, e.g. a previous Size: 416 (bytes, as in stat(1)).

For me this error blocks use of cloud-init YAML `#cloud-config`, as only adding a coupl

[2021-07-29 09:41] ktomk commented on #329
@DecentAgeCoder: Would you please be so kind and provide status of your issue? How did you solve it? Are you using a work-around, if yes, which one?

I also see that _and_ can confirm this is not causing the error. At least not mine (in reference: #358).

[2021-07-29 10:42] ktomk commented on #358
The report didn't contain the files to reproduce, here they are b/a (b FAIL, a OK):

**non-working `exoscale/b/cloudinit.yml`**

[code]

**working `exoscale/a/cloudinit.yml`**

[code]

[2021-07-30 09:21] zyegfryed commented on #358
Hi @ktomk,

I am able to reproduce your issue. We will provide a fix ASAP, most probably next week.

In the meantime, I noticed some unrelated issues with your `cloud-init` configuration:

1. invalid apt sources definition, according to [Additional apt configuration and repositories](https://cloudinit.readthedocs.io/en/20.2/topics/examples.html#additional-apt-configuration-and-repositories),
2. in

[2021-07-30 12:24] ktomk commented on #358
I guess this falls still into the 99.95%.

Great you spotted these, it's from testing against various, so you find 0.7.7 artifacts as well as non-existing packages. It demonstrates these are not the cause of the issue @zyegfryed

(a more clean reproduce example would be a single file with just a comment in it of such a size that triggers around +/- the single byte - if possible)

[2021-07-30 20:22] ktomk commented on #358
Just seeing a _similar_ error picture with a different command and _not_ size related but triggered by a character `~`:

[code]

Registering the template. failure
error: API error Unauthorized 401 (ServerAPIException 9999): unable to verify user credentials and/or request signature

leaving the tilde (`~`) out prevents the error.

(just in case there is some relation, e.g. a bug cluser. I'm fine w

[2021-08-02 06:58] falzm commented on #358
@ktomk can you please try with `exo compute instance create` instead of `exo vm create`? The latter is known to be subject to signature errors with some user data configurations, and `exo vm *` commands will be replaced with `exo compute instance` commands in the near future.

[2021-08-02 08:52] ktomk commented on #358
yes, I'd like to do that, and it seems to not be error-prone on the cloud-init userdata, however it seems that not temporary ssh key is generated like `exo vm create` did. @falzm

[2021-08-02 08:54] falzm commented on #358
@ktomk indeed, the new Exoscale API that this command uses doesn't allow creating SSH keys anymore, only registering existing ones.

[2021-08-02 09:09] ktomk commented on #358
Wondering if it's possible to create single-use (temporary) SSH keys with `exo` then @falzm.

[2021-08-02 09:16] falzm commented on #358
@ktomk we could indeed create a single-use key from the CLI directly and register it on the user's behalf before creating a Compute instance, however can you please create a dedicated GitHub issue for this feature and close this one if the topic is solved?

[2021-08-02 09:25] ktomk opened #360 "exo compute instance create: create a single-use SSH key"
When using `exo vm create` there is the option to have a sing-use SSH key with the new instance created.

With `exo compute instance create` this is not an option.

It would be good to have it as a feature so that when relying it on `exo vm create`  it is easier to have the same experience with migrating to `exo compute instance create`.

[2021-08-02 09:27] ktomk commented on #358
Sure, created: https://github.com/exoscale/cli/issues/360 (looks like a feature request towards deprecation of `exo vm create` to me). Would only derail here @falzm.

[2021-08-02 09:30] falzm commented on #358
We're still in the process of porting all `exo vm *` commands to `exo compute instance`, so for the time being the `exo vm *` commands are not officially deprecated.

[2021-08-02 09:34] ktomk commented on #358
Okay, then I'm continuing to looking forward for a fix here first @falzm.

[2021-08-02 09:34] DecentAgeCoder commented on #329
I have not yet had the chance to re-test the issue with the latest version. I can try to reproduce the issue and update the status of this issue until the end of this week.

[2021-08-02 09:38] falzm commented on #358
@ktomk there's a misunderstanding: we won't fix the issue for the `exo vm create` command, the solution is to use `exo compute instance create`. If you need to use an SSH key to log into the Compute instance, please register one beforehand and pass the `--ssh-key` flag.

[2021-08-02 09:52] ktomk commented on #358
Certainly not. If you prefer deprecation over the fix, then I'd prefer to close the issue here given I can migrate my scripts to `exo compute instance create` as until I'd have an issue with `exo vm create` - reported here.

And that's just all already, I don't see an issue with that.

If you let me know about the plannings for #306. it should ease closing here and there then as I think I can migr

[2021-08-02 09:56] ktomk commented on #329
@DecentAgeCoder: Just an FYI update from recent progress in #358: Try with `exo compute instance create` instead of `exo vm create`. I could already see it working with the cloud-init userdata where `exo vm create` failed with the error (I just have a side-tracking issue getting it to work for my own migration due to temporary SSH-keys that are currently not create with it - and then I think it's

[2021-08-02 09:56] falzm commented on #358
Understood, we'll prioritize the implementation of #360 to facilitate your transition to the `exo compute instance create` command.

[2021-08-03 12:22] #360 closed

[2021-08-03 12:22] falzm commented on #360
Feature coming in #361.

[2021-08-03 15:39] falzm commented on #358
@ktomk version 1.39.0 just released now implements a single-use SSH key fallback by default.

[2021-08-03 15:39] #358 closed

[2021-08-03 20:48] ktomk commented on #360
Thanks for the quick turnaround @falzm, much appreceated.

Can confirm working with exo 1.39.0 69a3e1fd (egoscale 0.66.0).

[2021-08-03 20:54] ktomk commented on #358
Can confirm `exo compute instance create` replacement for `exo vm create` in exo 1.39.0 69a3e1fd (egoscale 0.66.0) for this issues (my) test-case.

Will do more porting (and complete it) within the next 24h and would follow up then (I don't expect any more errors, the test has showed well complete already).

Thanks a lot for taking care @falzm.

[2021-08-10 12:59] ktomk commented on #358
Resolved by migrating form `exo vm ...`  to `exo compute ...`. And this worked for nearly all `exo vm ...` commands for us already.

The only leftover to that regard is `exo vm snapshot create`.

It looks to me that there is no replacement (yet?). It was no problem to port the template command thought (`exo compute instance-template ...`).

This boils down on our end to the following two commands

[2021-08-10 14:58] falzm commented on #358
@ktomk version 1.40.0 implements support for Compute instance snapshots with the `exo compute instance snapshot *` commands.

[2021-08-11 16:40] ktomk commented on #358
@falzm already started to migrate for these.

something is fishy with `exo compute instance snapshot create`:

* Given `--output-template '{{.ID}}{{"\t"}}{{.Name}}{{"\n"}}'`
* When exo option `--quiet` is in use
* Then there is no output at all.

E.g.
[code]

I often use this pattern (`exo --quiet` *command* *parameters* *options* `--output-template`) to parse and process results and this is the f

[2021-08-12 07:13] falzm commented on #358
@ktomk this is the expected behavior: `--quiet` disables all informative output, this explains why there is not templated output. If you only want to disable non-informative output (e.g. the spinner displayed during the operation processing), simply send *stderr* to `/dev/null`: `exo compute instance snapshot create  --output-template '{{.ID}}{{"\t"}}{{.Name}}{{"\n"}} ... 2>/dev/null`

[2021-08-12 07:59] ktomk opened #364 "--quiet hides output from --output-template in exo compute instance snapshot create"
Since

[code]

the `exo compute instance snapshot create` command output from `--output-template` is hidden when the `exo` option `-Q`, `--quiet` is in use.

Scenario:

Given `--output-template`, when using `--quiet` to hide progress on the standard output channel to only have template output, then no output at all is given.

Commands in use:

// boot a test instance (with minimal cloud-init cloud

[2021-08-12 07:59] ktomk commented on #364
Honestly I did not expect this behaviour; previously - how I used it at least - with 1.40.0 I receive a (public interface) change.

As written the usage-pattern was quite common for me and it seems to be aligned with `--help`:

[code]

As the help proposes to me, `--quiet` only affects non-essential command output and I'm using `--output-template` for the output and given an explicit option with a

[2021-08-12 07:59] ktomk commented on #358
Let's keep this discussion in an issue of its own: https://github.com/exoscale/cli/issues/364 @falzm

[2021-08-12 09:07] falzm commented on #364
You're correct, this is indeed a bug. Thank you for bring this to my attention, I'll fix this right away.

[2021-08-12 09:11] #364 closed

[2021-08-12 09:17] falzm commented on #364
Fixed in version 1.40.1.

[2021-08-12 10:48] ktomk commented on #364
Thanks, already updated and got it working @falzm.

I might have been misguided on the --help output earlier, ran a couple of checks and they confirm to me that the --quiet command usage-pattern I had in my mind didn't apply as stringent as I had in mind. Sorry if this caused confusion, I'm still new with the utility.

[2021-08-12 11:31] falzm commented on #364
No worries @ktomk, it's always good to hear feedbacks from our users :)

[2021-08-12 12:23] ktomk opened #366 "compute instance snapshot create: {{ .DiskSize }} template error: can't evaluate field DiskSize in type *cmd.instanceSnapshotShowOutput`"
Running `compute instance snapshot create` with an output-template containing `{{ .DiskSize }}` gives error:

This is a bit surprising in-so-far as the `--help` output suggests it would exist:

[code]

Might be a documentation issue, but it would be great to have it thought (if available in the result processing for free).

Commands in use:

[code]

(without template:)
[code]

[code]

[2021-08-12 12:25] ktomk commented on #364
As you're asking for it: https://github.com/exoscale/cli/issues/366  ;) (very minor)

[2021-08-12 15:28] ktomk commented on #366
In case it's not a too far off feature request, for me on the related `compute instance-template list` to have the .DiskSize would be nice, too (it does not have the documentation issue).

[2021-08-12 15:30] falzm commented on #366
Thank you for reporting this bug, the output template annotations for this operation have been mixed up with another unrelated operation. A fix is underway.

[2021-08-12 15:40] #366 closed

[2021-08-23 11:49] rubij opened #371 "SKS nodepool labels not applied as Kubernetes labels"
Hello,

It would be pretty nice, when we provision a SKS cluster or add some node pools to one, that the labels given at creation time are also applied on the Kuberntes level (i.e on the nodes) and not only at the Exoscale level.

For example, running the command :
exo sks create --description "This is a test SKS Cluster" --label "env=test" --nodepool-name "test" --nodepool-label "nodeenv=test" te

[2021-08-30 07:08] falzm commented on #371
Hi @rubij, sorry for the confusion: the `--label` flag actually manages *Exoscale resources* labels, similar to tags that can be used for filtering purposes. Those are not related to the underlying Kubernetes-level resources.

[2021-08-30 07:23] #371 closed

[2021-08-30 14:11] kadomino opened #372 "Typo in the rpm package for exo"
There is a typo in the rpm package:
[code]
This should be:
[code]

[2021-08-30 14:24] #372 closed

[2021-08-30 14:24] falzm commented on #372
Hi @kadomino, thank you for reporting this bug. It's been fixed in 40fcca3, a new version will be released shortly 👍

[2021-08-31 11:56] falzm commented on #371
@rubij following a recent change API-side, the `--label` SKS Nodepool flag is now also translated into Kubernetes *kubelet* labels.

[2021-09-19 14:43] FabioLolix opened #388 "Follow Arch packaging guidelines for AUR pkgbuild"
Follow up to my comment https://aur.archlinux.org/packages/exoscale-cli/#comment-822237

Attached there are 3 pkgbuilds: exoscale-cli (from source), exoscale-cli-bin and exoscale-cli-git ready to go

[exoscale-cli-pkgbuilds.tar.gz](https://github.com/exoscale/cli/files/7192282/exoscale-cli-pkgbuilds.tar.gz)

[2021-09-20 05:53] falzm commented on #388
@pyr an opinion on this?

[2021-10-15 11:29] joggie commented on #360
Hi @falzm ,

not sure if I did something wrong, but I don't get an ssh-key when I try this:

`[pleber@pat-devX molecule-exoscale-driver]$ exo version`
`exo 1.44.0 323abc9c (egoscale 0.73.2)`

`[pleber@pat-devX molecule-exoscale-driver]$ exo compute instance create --output-format json --disk-size 10 --template "Linux Ubuntu 20.04 LTS 64-bit" --zone at-vie-1 --instance-type standard.micro --securit

[2021-10-15 11:36] ktomk commented on #360
you can find the temporary SSH key with the configuration (compare `exo config show`) , the SSH key is not part of the JSON output. Instead the file is named in correlation to the instance-ID. @joggie

[2021-10-18 10:10] joggie opened #398 ""exo compute ..." -> error: resource not found"
Hi

I'm currently migrating our toolset from "exo vm" to "exo compute ..." and the new command has problems finding instances.

Example:
[code]

Another Example:
![image](https://user-images.githubusercontent.com/7068939/137711374-36e1cd27-3f5a-4413-a74f-b52a59c5a9cc.png)

It's working for some instances and for others it doesn't... I can edit/see/delete the instance in the webui.

[2021-10-18 10:38] falzm commented on #398
@joggie does specifying the zone of the instance using `--zone at-vie-1` works? The CLI commands use your current configuration profile's default zone as default value for the `--zone` flag, so if an instance is in a different zone you'll get this "resource not found" error message.

[2021-10-18 10:49] joggie commented on #398
Specifying the zone did work, thanks!
Shouldn't at least the ID be zone independent?

[2021-10-18 11:31] falzm commented on #398
@joggie not necessarily (e.g. Exoscale-maintained Compute instance templates have the same ID in every zone).

[2021-10-18 11:31] #398 closed

[2021-10-20 13:04] joggie opened #400 ""exo compute instance create" with --private-network throws panic"
Hi,
me again... still migrating to the new exo cli compute command...

"exo compute instance create" with --private-network throws following error:
[code]

Example:

[code]

The instance gets created but will not be in the private network.

Any ideas?

[2021-11-09 20:47] boaks opened #413 "Support security-group delete with self-rules"
Deleting a security-group, which contains rules, referring to the group ifself, fails.

[code]

[code]

For me it seems to be unnecessary complicated, to remove the rules via a script first.
I would appreciate to have a flag similar to " exo compute sks delete ... --nodepools", e.g. "--rules".

[2021-11-10 08:50] falzm commented on #413
Hi @boaks, that is indeed a legitimate UX issue: we'll address that soon 👍

[2021-11-10 13:07] #413 closed

[2021-11-10 13:12] falzm commented on #413
Next version will feature a new `--delete-rules|-r` flag that can be used to preemptively delete rules before the SG.

[2021-12-08 14:36] tomlankhorst opened #425 "`exo config`: error: ".../exoscale.toml" exists already"
I can't `exo config`:

[code]

[2021-12-08 14:42] falzm commented on #425
@tomlankhorst what platform are you running on?

[2021-12-08 15:22] falzm commented on #425
I'm not able to reproduce your issue with a test system (fresh Compute instance, latest CLI version installed, no configuration):

[code]

[2021-12-08 16:35] tomlankhorst commented on #425
It's Ubuntu 20.04 Server.

I rechecked it in a clean container (ubuntu:focal) it indeed seems to work fine there.

So I checked what was going on in the ~/.config/exoscale directory, and figured out the permissions were `007`, which later seemed to result from an erroneously set `umask` in a `.bashrc` file. So this had nothing to do with the cli. Sorry for this.

Thanks a lot for this helpful tool

[2021-12-08 16:35] #425 closed

[2021-12-08 16:48] falzm commented on #425
No problem, thanks @tomlankhorst 👍

[2021-12-17 20:01] boaks commented on #413
Thanks a lot! Works great with 1.49.1

[2022-01-31 14:39] kevinmoilar opened #428 "setting defaultTemplate in config does not override the default"
Version: exo 1.49.2 e1c284d (egoscale 0.84.3)
Adding the line
`defaultTemplate = "Linux Debian 11 (Bullseye) 64-bit"`
to `.config/exoscale/exoscale.toml` has no effect,
running `exo compute instance create newinstancename` still creates the default Ubuntu container as defined in `cmd/config.go`

[2022-02-16 08:57] #428 closed

[2022-03-08 09:40] mguegan opened #437 "version 1.50 broke `exo compute instance show` command"
Since v1.50 I cannot get my instance details anymore:
[code]
Culprit seems to be [there](https://github.com/exoscale/cli/compare/v1.49.3...v1.50.0#diff-63e01a66dd302c4dcf6ca7738b1ca37b4e760e700e32bf1701ab278f4e6801c0R140)

But that needs confirmation.

Confirmed OK with `1.49.3`

[2022-03-08 10:10] SebastienPittet opened #438 "Cannot create instance (default settings)"
Hello Team !

exo version: `exo 1.51.1 6fbf2691 (egoscale 0.86.0)`

When I try to create an instance with default params `exo compute instance create my-test-instance`, I got an error message (but the instance is available):

panic: reflect: NumField of non-struct type string

goroutine 1 [running]:
reflect.(*rtype).NumField(0x30)
        reflect/type.go:1015 +0x66
github.com/exoscale/cli/cmd.outp

[2022-03-08 11:26] 7fELF commented on #438
Hi @SebastienPittet,

Thanks for the report!
Your issue will be fixed soon with PR #439

[sc43900]

[2022-03-08 11:26] 7fELF commented on #437
Hi @mguegan,

Thanks for the report!
Your issue will be fixed soon with PR #439

[sc43900]

[2022-03-09 08:35] #438 closed

[2022-03-09 08:49] tn-osimis opened #440 "Typo in the latest release version number v0.51.3 -> v1.51.3?"
Hello,

It seems the latest version should've been labeled v1.51.3 instead of [v0.51.3](https://github.com/exoscale/cli/releases/tag/v0.51.3), according to the [changelog](https://github.com/exoscale/cli/blob/v0.51.3/CHANGELOG.md).

[2022-03-09 10:07] tn-osimis commented on #440
FYI I'm now seeing v1.51.2 as the latest version, but its [changelog](https://github.com/exoscale/cli/blob/v1.51.2/CHANGELOG.md) still mentions the latest as v1.51.**3**.

I guess it's not a biggie if it's just a mislabeling but might still generate some future confusion.

[2022-03-09 11:15] 7fELF commented on #440
Hi @tn-osimis,

Yes, there was a slight issue with the generation of the new tags.
I edited the [release](https://github.com/exoscale/cli/releases/tag/v1.51.2) so it points to the fixed changelog.

[2022-03-10 14:43] #440 closed

[2022-03-10 15:03] #437 closed

[2022-03-16 09:34] cstpdk opened #443 "Offset flag on dbaas logs has no effect"
Hello,

When using the --offset flag on dbaas logs previously it resulted in a nil error. I guess that is fixed now, probably in #439.  However, the flag seems to be a NOOP now, as illustrated here:
![2022-03-16-103108_543x100_scrot](https://user-images.githubusercontent.com/751851/158560100-2c1fb666-39cb-4329-99b1-08b7806deb1c.png)

Seems it always results in no output when using it

[2022-04-04 11:31] joggie opened #445 "'exo compute instance snapshot list' randomly missing snapshots"
Hi,

"exo compute instance snapshot list" does not work as expected since there are snapshots randomly missing sometimes

![image](https://user-images.githubusercontent.com/7068939/161533357-e215d155-76ca-4b60-b6d5-da2bfc4a9a02.png)

As you can see in the screenshot snapshot "36f58382..." was missing at the first run and present on the second, both commands were executed some seconds apart, and no

[2022-04-04 11:34] joggie commented on #445
exo 1.51.2 a7e283bb (egoscale 0.86.0)

[2022-04-04 11:37] joggie commented on #445
![image](https://user-images.githubusercontent.com/7068939/161535823-29d69ded-c9e9-4ba9-bad7-777d5f7c7fb9.png)

just tried with exo 1.52.1 608fcf5 (egoscale 0.86.0)
same problem

[2022-04-06 08:45] joggie commented on #445
I just found out that this also happens with

exo compute instance list

![image](https://user-images.githubusercontent.com/7068939/161934430-358c248a-f345-457e-8253-7aebe7c43fc2.png)

this breaks all my ansible playbooks...

[2022-04-25 12:41] kobajagi commented on #445
Bug should be fixed in v1.53.0, @joggie let us know if you can still reproduce it with the new release.

[2022-05-02 08:51] kobajagi commented on #445
Closing as solved.

[2022-05-02 08:51] #445 closed

[2022-06-07 15:53] 7fELF commented on #443
Hello @cstpdk

The offset flag is not a number but an "Opaque offset identifier".

You can find the identifier in the JSON output of the command:

[code]

[2022-06-09 07:19] #443 closed

[2022-07-29 18:33] tanwald opened #464 "Error in "exo compute nlb list""
I use `until exo compute nlb list ...` to wait for the load-balancer to become ready. Until it becomes ready it produces the following error:

[code]
It happens when I create a new sks cluster and there is no load-balancer available for my account...

exo 1.58.0 274d052 (egoscale 0.89.0)
fedora: 5.18.13-200.fc36.x86_64

[2022-08-26 12:00] #464 closed

[2022-09-01 09:53] 7fELF commented on #464
Hello @tanwald

This has been fixed in the latest release: [1.59.1](https://github.com/exoscale/cli/releases/tag/v1.59.1)

Thank you for reporting the issue.

[2022-09-02 08:46] tanwald commented on #464
Thanks!

[2022-09-09 11:04] tanwald opened #471 "Error in "exo compute nlb show""
This issue is related to #464.

Now that #464 is fixed, the snippet

[code]
results in

[code]
I guess that `nlb list` returns a result before an IP got assigned and that waiting for `nlb show` will produce the error above until the IP is assigned.

[2022-09-22 09:20] #471 closed